

@media screen and (min-width: 1280px)  {

}

@media screen and (min-width: 768px)  {
  .contacts {
    width: 30%;
  }
  .summary {
    width: 50%;
  }
  .skills {
    width: 40%;
  }
  .codebox {
    width: 50%;
    font-size: 16px;
  }
  .projects {
    width: 25%;
  }
  
  .education {
    width: 30%;
  }
  
  .languages {
    width: 30%;
  }
}


@media screen and (max-width: 768px) {
  .contacts,
  .skills {
    flex: 1 0 30%;
    min-width: 250px;
  }
  .summary, 
  .codebox {
    flex: 1 1 40%;
    min-width: 300px;
  }
  .projects,
  .education,
  .languages {
    flex: 1 1 30%;
    min-width: 250px;
  }
    /* бургер меню  https://html-css.blog/css/burger-menyu-na-html-i-css/*/

  .burger-ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  .burger-ul {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: rgb(136, 250, 153, 0.9);
    list-style-type: none;
    transform: translateX(100%);
    transition: .3s;
    width: 200px;
  }
  .burger-ul.active {
    transform: translateX(0);
    transition: 0.4s;
    z-index: 1;
  }

  .burger-button {
    margin: 0;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    display: block;
    top: 12px;
    right: 12px;
    padding: 0;
    width: 40px;
    height: 26px;
    background-color: transparent;
    border: none;
    z-index: 2;
  }

  .burger-button::before,
  .burger-button::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 10px;
  }

  .burger-button::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }

  .burger-button::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }

  .burger-button.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgb(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s 0.15s;
  }

  .burger-button.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
}
/* the end of burger menu */
