* {
    margin: 0 auto;
    box-sizing: border-box;
    /* all fonts */
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    /* all fonts end */
}
.wraper-right-burger {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container-body {
  display: flex;
  flex-wrap: wrap;
}

.item-body {
  width: 100%;  
}

h1 {
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-variant: small-caps;
  font-size: 30px;
  text-align: center;
}

.photo {
  border-radius: 50px;
}

nav {
  background-color: #88fa99;
  min-height: 50px;
}
.burger-button {
  display: none;
}

/* навигация в одну строку */
.burger-ul {
  padding: 1%;
  display: flex;
  width: 60%;
}

.burger-ul li {
  max-width: 100px;
  display: flex;
  padding: 1% ;
}

.burger-ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: rgb(7, 7, 7);
}

ul.burger-ul li a:hover {
  text-decoration: underline;
  color: rgb(58, 0, 0);
 }

/* конец навигации */ 


/* line number one with photo */

.photoLine {
  display: flex;
  padding: 1%; 
  margin: 0 -5px;
  align-items: center;
}
.photo-item {
  flex: 1 1 auto;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondLine {
  display: flex;
  flex-wrap: wrap;
  padding: 1%; 
}

.summary-text {
  text-align: justify;
}

.programming {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;  
}

.lastLine {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;  
}
  
.container-footer {
  min-height: 50px;
  display: flex;
  background-color: #56fa6f;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__img {
  height: 100%;
}

.link-text {
  color: #13a0ce;
}

.link-git {
  color: black;
  font-size: 20px;
} 

/* анимация для телеграмм бота */
:root {
  --text: #2B3044;
  --line: #BBC1E1;
  --line-active: #275EFE;
}

p {
  font-size: 18px;
  margin: 0;
  color: var(--text);
  a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: inherit;
      margin: 0 var(--spacing, 0px);
      transition: margin .25s;
      svg {
          width: 76px;
          height: 40px;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 7px) translateZ(0);
          fill: none;
          stroke: var(--stroke, var(--line));
          stroke-linecap: round;
          stroke-width: 2px;
          stroke-dasharray: var(--offset, 69px) 278px;
          stroke-dashoffset: 361px;
          transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
      }
      &:hover {
          --spacing: 4px;
          --stroke: var(--line-active);
          --stroke-delay: .1s;
          --offset: 180px;
      }
  }
}
/* анимация для телеграмм бота */